<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>关于中大</title>

    <!-- <link rel="stylesheet" href="/bootstap定制/css/bootstrap.css" /> -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/head.css" />
    <link rel="stylesheet" href="/css/top.css" />
    <link rel="stylesheet" href="/css/jianjie.css" />
    <link rel="stylesheet" href="/css/ffzz.css" />
    <link rel="stylesheet" href="/css/rongyu.css" />
    <link rel="stylesheet" href="/css/foot.css" /> 
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/dist/css/bootstrap.css">
    <script src="/js/jquery-1.11.3.min.js"></script>

    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    {{include './header.html'}}
    <div class="topHead">
        <!-- <img src="./images/pc_nybanner.jpg" class="img-responsive"> -->
        <div class="headtitle container">
            <div class="title">关于中大</div>
            <div class="neirong">我们致力于通过不断的开发创新、全方位的服务，为国内外各大粮油、面粉等企业提供项目配套解决方案。</div>
        </div>
    </div>
    <div class="jianjie">
        <div class="jj">
            <div class="title">
                企业简介
            </div>
            <p class="nr">无锡市中大机械设备有限公司成立于1995年（原锡山市中大粮机成套设备有限公司），地处无锡市东郊羊尖镇锡沪路中段，北邻张家港外运码头30公里，西南距无锡机场18公里，距高速公路入口2公里，距动车无锡东站仅10分钟车程，交通便利。</p>
            <p class="nr">公司拥有固定资产1800万，流动资金500万元，年产值逾5000万元。专业技术人员20人，固定工人120人，另聘有技术权威专家（制粉专家、电器专家）作顾问。</p>
            <p class="nr">我公司主要生产装配式预制溜管，各类不锈钢非标件、气动绷涨机、气电动闸门、绞龙回粉器、仓底振动卸料器、双路阀、正压关风器、混合机、提升机、绞龙、振动回粉器、永磁筒。公司通过了ISO9000认证，所生产的预制溜管管件均符合国家粮食卫生标准，内壁采用214无毒耐磨涂料作内壁防锈，外壁采用静电粉末喷涂，美观大方、经久耐用。密闭性和互换性是衡量溜管质量的一个关键所在，由我公司自行设计制作的特殊管卡、橡胶圈能根本杜绝漏料、漏气等现象，大大改善了制粉车间的工作环境。</p>
        </div>

    </div>
    <div class="ffzz">
        <div class="neirong">
            <div class="ffzz_title">服务宗旨</div>
            <div class="bigbox">
                <div class="box">
                    <div class="yuan">
                        <span>售前</span>
                    </div>
                    <p>公司派专人到现场技术咨询，从预留孔到预埋件一一现场指导。</p>
                </div>
                <div class="box">
                    <div class="yuan">
                        <span>售中</span>
                    </div>
                    <p>公司派人安装指导，使产品更能适应工艺和外观的要求，加速客户的工程进度。</p>
                </div>
                <div class="box">
                    <div class="yuan">
                        <span>售后</span>
                    </div>
                    <p>公司将定期与客户联系，及时了解客户收集反馈信息，提高产品的适应性和质量。</p>
                </div>
            </div>

        </div>
    </div>
    <div class="rongyu">
        <img src="./images/aboutus_rongyubg.jpg">
        <div class="neirong">
            <div class="title">公司荣誉</div>
            <div class="box">
                <div class="screen">
                    <span id="left">&lt;</span><span id="right">&gt;</span>
                    <ul>
                        {{each about}} {{if $value.class==1}}
                        <li><img src='{{$value.picture}}'>
                            <div class="title">{{$value.title}}</div>
                        </li>
                        {{/if}} {{/each}}
                    </ul>
                    <ol>
                        <li class="current">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                    </ol>
                </div>

            </div>

        </div>
    </div>
    <script>
        // var right = document.querySelector('#right')
        // console.log(right)
        // right.onclick = function(e) {
        //         console.log('xxx')
        //         var target = e.target;

        //     }
        $('.screen>ol>li').click(function() {
            var idx = $(this).text();
            console.log(idx)
            var x = -(idx - 1) * 374;
            $('.screen>ul').css(
                "left", x + 'px'
            );
            $('ol>.current').removeClass('current');
            $(this).addClass('current');
        })
        var right = $('#right')
        var left = $('#left')
        $('#left').click(function() {

            var idx = $('.current').text();
            if (idx > 1) {
                $('ol>.current').removeClass('current');
                $('ol>li:eq(' + (idx - 2) + ')').addClass('current');
                $('.screen>ul').stop(true, false).animate({
                    'left': (-374 * idx) + 748 + 'px'
                });
            }


        })
        $('#right').click(function() {
            var idx = $('.current').text();
            if (idx < 6) {
                $('.screen>ul').stop(true, false).animate({
                    'left': -(idx * 374) + 'px'
                })
                $('ol>.current').removeClass('current');
                $('ol>li:eq(' + idx + ')').addClass('current');
            }
        })
    </script>
    <div class="foot">
        <div class="bigbox">
            <div class="box">
                <span>1992</span>
                <p>创建于1992年</p>
            </div>
            <div class="box">
                <span>200+</span>
                <p>服务过200+企业</p>
            </div>
            <div class="box">
                <span>20</span><span class="small">人</span>
                <p>专业技术人员</p>
            </div>
            <div class="box">
                <span>120</span><span class="small">人</span>
                <p>固定生产工人</p>
            </div>
        </div>
    </div>
    {{include './footer.html'}}
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
  <script src="/js/header.js"></script>
</body>

</html>