<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="zh-CN" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>生产设备</title>
    <meta name="keywords" content="生产设备" />
    <meta name="description" content="生产设备" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
    <link rel="stylesheet" type="text/css" href="/bootstap定制/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/xwzx.css" />
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/swiper-bundle.css">
</head>

<body>

    {{include './header.html'}}
    <div class="nybanner">
        <img src="/images/生产设备头.jpg" class="pc_banner">
        <div class="kejian banner_box">
            <div class="banner_tit">生产设备</div>
            <div class="banner_con">借助先进的生产设备，我们为客户提供更高效且更可靠的服务和产品，同时最大程度地为客户节省成本。</div>
        </div>
    </div>
    <div class="equipment">
        <div class="kejian">
            <div class="equipment_images">
                <!-- Swiper -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="equipment_con"><img src="/images/车床.jpg">
                                <div class="equipment_tit">车床</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="equipment_con"><img src="/images/法兰卷圆机.jpg">
                                <div class="equipment_tit">法兰卷圆机</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="equipment_con"><img src="/images/卷法兰机.jpg">
                                <div class="equipment_tit">卷法兰机</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="equipment_con"><img src="/images/不锈钢抛光机.jpg">
                                <div class="equipment_tit">不锈钢抛光机</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="equipment_con"><img src="/images/工业制管机.jpg">
                                <div class="equipment_tit">工业制管机</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="equipment_con"><img src="/images/激光切割机.jpg">
                                <div class="equipment_tit">激光切割机</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="equipment_con"><img src="/images/63T折弯机.jpg">
                                <div class="equipment_tit">63T折弯机</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="equipment_con"><img src="/images/5T行车.jpg">
                                <div class="equipment_tit">5T行车</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <p>公司目前有5T行车、63T折弯机、激光切割机、工业制管机，不锈钢抛光机、法兰卷圆机、车床、铣床、刨床、等离子焊接设备、等离子切割机、自动氩弧焊机、两辊对焊机等设备。</p>
        </div>
    </div>
    <div class="shebei">
        <div class="kejian">
            <div class="shebei_box clearfix">
                <div class="shebei_l">
                    <ul class="menu" id="shebei_con">
                        <li>
                            <h4>卷法兰机</h4><span>-</span>
                            <div class="child_ul">
                                <p><img src="/images/大卷法兰机.jpg"></p>
                                <p>该设备取代了原有的法兰制作方式，全新的数控操作系统，让法兰制作后尺寸更精准，效率更快，材料利用率更足，省时省料，节约成本。</p>
                            </div>
                        </li>
                        <li>
                            <h4>不锈钢抛光机</h4><span>+</span>
                            <div class="child_ul">
                                <p><img src="/images/大不锈钢抛光机.jpg"></p>
                                <p>可针对顾客的需求对不锈钢管件进行不同的表面处理。</p>
                                <p>由于我公司是直接生产商，不存在中间的经销商环节，从而降低了生产成本间接达到了帮客户节约了成本。</p>
                                <p>目前生产内径尺寸120的内外双镜面不锈钢管、外拉丝内镜面不锈钢管、外拉丝内2B不锈钢管和外镜面内2B不锈钢管。</p>
                            </div>
                        </li>
                        <li>
                            <h4>工业制管机</h4><span>+</span>
                            <div class="child_ul">
                                <p><img src="/images/大工业制管机.jpg"></p>
                                <p>该制管机主要生产我公司需求量比较大的Φ120和Φ150的碳钢成品管和不锈钢半成品管，可直接生产客户需求的6米标准碳钢管。</p>
                                <p>因为其本身全自动化生产节省了我公司的人工成本从而间接达到了帮客户节约成本的功效。</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="shebei_r">
                    <div class="shebei_img"><img src="/images/卷法兰机.jpg"></div>
                    <div class="shebei_img"><img src="/images/不锈钢抛光机.jpg"></div>
                    <div class="shebei_img"><img src="/images/工业制管机.jpg"></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/bootstap定制/css/bootstrap.min.css"></script>
    <script type="text/javascript" src="/js/js.js"></script>
    <!-- Swiper JS -->
    <script type="text/javascript" src="/js/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <!-- Initialize Swiper -->
    <script>
        if (window.innerWidth > 1200) {
            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 3,
                spaceBetween: 30,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
        } else {
            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 2,
                spaceBetween: 10,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
        }
    </script>
    <script>
        $(function() {
                $(".shebei_l .child_ul").eq(0).show();
                $(".shebei_r .shebei_img").eq(0).show();
                $("ul.menu>li").on("click", function() {
                    var next = $(this).children(".child_ul");
                    var icon = $(this).children("span");
                    next.slideToggle('fade');
                    if (icon.html() === "+") {
                        icon.html("-");
                    } else {
                        icon.html("+");
                    }
                    $('.child_ul').not(next).slideUp('fast'); //不是当前点击的内容全部向上收起
                    $('ul.menu>li').children("span").not(icon).html("+");

                    //阻止第二层的事件向第一层冒泡:
                    $("ul.menu>li > ul li").click(function(event) {
                        event.stopPropagation()
                    });
                    return false;
                })

                //添加当前链接样式
                $(".child_ul li").hover(function() {
                    $(".child_ul li").removeClass("selected");
                    $(this).addClass("selected");
                })

            })
            //切换图片
        $(".shebei_r .shebei_img").eq(0).show();
        $("#shebei_con li").click(function() {
            $(".shebei_r .shebei_img").eq($(this).index()).show().siblings().hide();
        })
    </script>
       {{include './footer.html'}}
       <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
       integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
       crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
       integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
       crossorigin="anonymous"></script>
     <script src="/js/header.js"></script>
</body>

</html>