

  <nav class="navbar navbar-default" data-spy="affix" data-offset-top="0">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo" href="/index"><img src="/images/logo2.png" class="img-responsive" alt=""> </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/about">关于中大</a></li>
          <li><a href="/product">产品展示</a></li>
          <li><a href="/news">新闻中心</a></li>
          <li><a href="/fwal">服务案例</a></li>
          <li><a href="/call">联系我们</a></li>
        </ul>

        <div class="nav navbar-nav navbar-right">
          <img src="/images/language.png" alt="">
              <span>CN</span>
              <span class="glyphicon glyphicon-chevron-down"></span>
        </div>
      </div>
    </div>
  </nav>
 