<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>首页</title>

    <link rel="stylesheet" href="/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css2/reset.css" />
    <link rel="stylesheet" href="/css2/index.css" />
    <link rel="stylesheet" href="/css2/top.css" />
    <link rel="stylesheet" href="/css2/foot.css">
    <link rel="stylesheet" href="/css2/head.css" />
    <link rel="stylesheet" href="/css2/cp.css" />
    <link rel="stylesheet" href="/css2/gyzd.css" />
    <link rel="stylesheet" href="/css2/about_img.css" />
    <link rel="stylesheet" href="/css2/shebei.css" />
    <link rel="stylesheet" href="/css2/shebei2.css" />
    <link rel="stylesheet" href="/css2/news.css" />
    <link rel="stylesheet" href="/css2/kehu.css" />
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">

    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    {{include './header.html'}}

    <div class="head">
        <img src="./images/pc_banner1.jpg" alt="">
        <div class="title">
            <p>求实创新</p>
            <p>为中国粮食加工赋能</p>
            <a href="http://localhost:8000/about"><span>了解更多</span></a>
        </div>
    </div>
    <div class="cp">
        <div class="neirong">
            <div class="t1">了解我们的产品</div>
            <div class="t2">探索高效与智慧型粮机装备解决方案</div>
            <div class="box">
                {{each pro}} 
                <div class="product">
                    <a>
                        <img src="{{$value.picture}}">
                        <span>{{$value.name}}</span>
                    </a>
                </div>
              {{/each}}
            </div>
            <div class="readmore">
                <span>+</span>
            </div>
            
        </div>
    </div>
    <div class="about_img"><img src="./images/about_img.jpg" class="img-responsive"></div>
    <div class="gyzd">
       
        <div class="neirong">
            <div class="leftbox">
                关于中大
                <span>不断以创新满足客户新的需求</span>
            </div>
            <div class="rightbox">
                <p>无锡市中大机械设备有限公司成立于1995年，是布勒一级供货商。我们致力于通过不断的开发创新、全方位的服务，为国内外各大粮油、面粉等企业提供项目配套解决方案。</p>
                <a href="#">→ 关于我们更多信息</a>
            </div>
        </div>

    </div>
    <div class="foot">
        <div class="bigbox">
            <div class="box">
                {{each about}} {{if $value.class==2}}
                <span>{{$value.title}}</span>
                <p>创建于{{$value.title}}年</p>
                {{/if}} {{/each}}
            </div>
            <div class="box">
                {{each about}} {{if $value.class==3}}
                <span>{{$value.title}}</span>
                <p>服务过{{$value.title}}企业</p>
                {{/if}} {{/each}}
            </div>
            <div class="box">
                {{each about}} {{if $value.class==4}}
                <span>{{$value.title}}</span><span class="small">人</span>
                <p>专业技术人员</p>
                {{/if}} {{/each}}
            </div>
            <div class="box">
                {{each about}} {{if $value.class==5}}
                <span>{{$value.title}}</span><span class="small">人</span>
                <p>固定生产工人</p>
                {{/if}} {{/each}}
            </div>
        </div>
    </div>
    <div class="shebei">
        <span>先进的生产设备</span>
    </div>
    <div class="shebei2">
        <div class="neirong">
            <p>公司愿以一流的制作工艺设备、一流的产品质量、致力于镜面不锈钢产品的开发制作，应客户实际需求设计制作产品。</p>
            <p>全自动化生产流程节省了公司的人工成本从而间接达到了帮客户节约成本的功效。</p>
            <a href="http://localhost:8000/equipment">了解更多</a>
        </div>

    </div>
    <div class="news">
        <div class="box">
            <a href="http://localhost:8000/news">
                <div class="imgbox">
                    <img src="./images/index_news.jpg">
                </div>
                <div class="fontbox">
                    <div class="title">新闻</div>
                    <div class="neirong">公司及行业热点</div>
                </div>
            </a>
            <a href="http://localhost:8000/fwal">
                <div class="imgbox">
                    <img src="./images/index_case.jpg">
                </div>
                <div class="fontbox">
                    <div class="title">案例</div>
                    <div class="neirong">主要合作工程单位</div>
                </div>
            </a>
            <a href="http://localhost:8000/about">
                <div class="imgbox">
                    <img src="./images/index_qyry.jpg">
                </div>
                <div class="fontbox">
                    <div class="title">企业荣誉</div>
                    <div class="neirong">每一次的荣誉都来自客户的认可</div>
                </div>
            </a>
        </div>
    </div>
    <div class="kehu">
        <div class="neirong">
            <div class="title">主要客户</div>
            <div class="kehubox">
                <a href="#"><img src="./images/pb1.jpg"></a>
                <a href="#"><img src="./images/pb2.jpg"></a>
                <a href="#"><img src="./images/pb3.jpg"></a>
                <a href="#"><img src="./images/pb4.jpg"></a>
            </div>
        </div>
    </div>
    {{include './footer.html'}}
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
  <script src="/js/header.js"></script>
  <script>
    $('.readmore').click(function() {
        var height = $(".cp>.neirong>.box").height()
        if(height=='182'){
            $(".cp>.neirong>.box").animate({"height":"728px"},500);
            $(".cp>.neirong>.readmore>span").html("-");
        }else if(height=='728'){
         
            $(".cp>.neirong>.box").animate({"height":"182px"},500);
            $(".cp>.neirong>.readmore>span").html("+");
        } 
    });
</script>
</body>

</html>