<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstap定制/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/normal.css">

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <!-- <link rel="stylesheet" href="/css2/新闻中心.css"> -->
    <link rel="stylesheet" href="/css2/新闻.css">


    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    {{include './header.html'}}
    <div class="container-fulid">
        <div class="container_images">
            <img src="/images/新闻中心-头.jpg" class="img-responsive" alt="">
            <div class="banner_wen">中大新闻</div>
        </div>
    </div>
    <div class="home">
        <div class="home_wz">
            <img src="/images/position_home.jpg">
            <span>></span>
            <a href="http://localhost:8000/index">首页</a>
            <span>></span>
            <a href="http://localhost:8000/news">新闻中心</a>
            <span>></span>
            <a href="http://localhost:8000/new2" class="pc_link">售后跟踪服务是我们中大公司一贯的服务宗旨</a>
            <a href="http://localhost:8000/new2" class="m_link">新闻详情</a>
        </div>
    </div>
    <div class="news">
        <div class="container">
            <div class="news_typetit">公司新闻</div>
            <div class="datetime">2019/04/24</div>
            <div class="news_tit">售后跟踪服务是我们中大公司一贯的服务宗旨</div>
            <div class="detail">
                <p>无锡市中大机械设备有限公司成立于1995年（原锡山市中大粮机成套设备有限公司），地处无锡市东郊羊尖镇锡沪路中段，北邻张家港外运码头30公里，西南距无锡机场18公里，距高速公路入口2公里，距动车无锡东站仅10分钟车程，交通便利。</p>
                <p>公司拥有固定资产1800万，流动资金500万元，年产值逾5000万元。专业技术人员20人，固定工人120人，另聘有技术权威专家（制粉专家、电器专家）作顾问。</p>
                <p>我公司主要主产装配式预制溜管，各类不锈钢非标件、气动绷涨机、气电动闸门、绞龙回粉器、仓底振动卸料器、双路阀、正压关风器、混合机、刮板机、提升机、绞龙、振动回粉器、永磁筒。公司通过了ISO9000认证，所生产的预制溜管管件均符合国家粮食卫生标准，内壁采用214无毒耐磨涂料作内壁防锈，外壁采用静电粉末喷涂，美观大方、经久耐用。</p>
                <p>密闭性和互换性是衡量溜管质量的一个关键所在，由我公司自行设计制作的特殊管卡、橡胶圈能根本杜绝漏料、漏气等现象，大大改善了制粉车间的工作环境。</p>
                <p>售前咨询服务，售中指导安装服务，售后跟踪服务是我们中大公司一贯的服务宗旨。</p>
                <p>为使用户能更好地了解、使用中大公司的产品，售前公司派专人到现场技术咨询，从预留孔到预埋件一一现场指导；售中公司派人安装指导，使产品更能适应工艺和外观的要求，加速客户的工程进度；售后公司将定期与客户联系，即时了解客户收集反馈信息，及时提高产品的适应性和质量。</p>
                <p>为了更好的服务市场，近年来我们致力于镜面不锈钢产品的开发制作，能应客户实际需求设计制作产品，严控供应商，提高服务水平，坚守诚信。</p>
                <p>我公司愿以一流的制作工艺设备、一流的产品质量、一流的供货速度和优惠的价格，与新老客户携手并进，共创事业辉煌。</p>
                <p><br/></p>
            </div>
            <div class="text-center pager">
            </div>
        </div>
    </div>




    {{include './footer.html'}}
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
  <script src="/js/header.js"></script>
</body>

</html>