<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstap定制/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/normal.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">

    <!-- <link rel="stylesheet" href="/css2/新闻中心.css"> -->
    <link rel="stylesheet" href="/css2/新闻中心2.css">


    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    {{include './header.html'}}
    <div class="container-fulid">
        <div class="container_images">
            <img src="/images/新闻中心-头.jpg" class="img-responsive" alt="">
            <div class="banner_wen">中大新闻</div>
        </div>
    </div>
    <div class="home">
        <div class="home_wz"><img src="/images/position_home.jpg"><span>></span><a href="http://localhost:8000/index">首页</a><span>></span><a href="#">新闻中心</a></div>
    </div>
    <div class="news">
        <div class="container">
            <ul class="news_list clearfix">
                <li>
                    <a href="http://localhost:8000/new1">
                        <div class="news_left">
                            <div class="news_con">
                                <span>行业新闻</span>
                                <div class="news_tit">聘有技术权威专家（制粉专家、电器专家）作顾问1</div>
                                <p>无锡市中大机械设备有限公司成立于1995年（原锡山市中大粮机成套设备有限公司），地处无锡市东郊羊尖镇锡沪路中段，北邻张家港外运码头30公里，西南距无锡机场18公里</p>
                                <div class="datetime">2019/04/24</div>
                            </div>
                        </div>
                        <div class="news_right"><img src="/images/4罐.jpg"></div>
                    </a>
                </li>
                <li>
                    <a href="http://localhost:8000/new2">
                        <div class="news_left">
                            <div class="news_con">
                                <span>公司新闻</span>
                                <div class="news_tit">售后跟踪服务是我们中大公司一贯的服务宗旨</div>
                                <p>无锡市中大机械设备有限公司成立于1995年（原锡山市中大粮机成套设备有限公司），地处无锡市东郊羊尖镇锡沪路中段，北邻张家港外运码头30公里，西南距无锡机场18公里</p>
                                <div class="datetime">2019/04/24</div>
                            </div>
                        </div>
                        <div class="news_right"><img src="/images/机器.jpg"></div>
                    </a>
                </li>
                <li>
                    <a href="http://localhost:8000/new3">
                        <div class="news_left">
                            <div class="news_con">
                                <span>公司新闻</span>
                                <div class="news_tit">原锡山市中大粮机成套设备有限公司</div>
                                <p>
                                    <p>无锡市中大机械设备有限公司成立于1995年（原锡山市中大粮机成套设备有限公司），地处无锡市东郊羊尖镇锡沪路中段，北邻张家港外运码头30公里，西南距无锡机场18公里</p>
                                    <div class="datetime">2019/04/24</div>
                            </div>
                        </div>
                        <div class="news_right"><img src="/images/4罐.jpg"></div>
                    </a>
                </li>
                <li>
                    <a href="http://localhost:8000/new4">
                        <div class="news_left">
                            <div class="news_con">
                                <span>公司新闻</span>
                                <div class="news_tit">公司拥有固定资产1800万流动资金500万元</div>
                                <p>
                                    <p>无锡市中大机械设备有限公司成立于1995年（原锡山市中大粮机成套设备有限公司），地处无锡市东郊羊尖镇锡沪路中段，北邻张家港外运码头30公里，西南距无锡机场18公里</p>
                                    <div class="datetime">2019/04/24</div>
                            </div>
                        </div>
                        <div class="news_right"><img src="/images/机器.jpg"></div>
                    </a>
                </li>
            </ul>
            <div class="text-center pager">
            </div>
        </div>
    </div>




    {{include './footer.html'}}
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
    crossorigin="anonymous"></script>
  <script src="/js/header.js"></script>
</body>

</html>