* {
    margin            : 0px;
    padding           : 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
    outline           : 0;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

html {
    overflow-x              : hidden;
    -webkit-text-size-adjust: none;
}

body {
    font-family             : "黑体";
    margin                  : 0 auto;
    -webkit-font-smoothing  : antialiased;
    background              : #fff;
    font-size               : 12px;
    line-height             : 1;
    color                   : #000;
    overflow                : hidden;
    -webkit-text-size-adjust: 100% !important;
    text-size-adjust        : 100% !important;
    -moz-text-size-adjust   : 100% !important;
}

html,
body {
    font-size: 16px;
}

em,
i {
    font-style: normal;
}

a {
    text-decoration: none;
    outline        : none;
    color          : #666;
}

a:hover {
    color          : #005eb8;
    text-decoration: none;
}

a:focus {
    outline: none;
}

a {
    text-decoration: none;
    outline        : none;
}

a:visited {
    color: #666;
}

fieldset,
img {
    border        : 0;
    vertical-align: middle;
}

/*浮动*/
.clearfix {
    *zoom: 1;
    clear: both;
}

.clearfix:after {
    clear      : both;
    display    : block;
    height     : 0;
    visibility : hidden;
    line-height: 0;
    content    : '\20';
}

.vcenter {
    display   : block;
    position  : absolute;
    max-width : 100%;
    max-height: 100%;
    margin    : auto;
    top       : 0;
    left      : 0;
    right     : 0;
    bottom    : 0;
}

.kejian {
    width : 1171px;
    margin: 0 auto;
}


.pc_banner {
    width     : 100%;
    margin-top: 93px;
    display   : block;
}

.pc_banner img {
    width: 100%;
}


.nybanner {
    width     : 100%;
    position  : relative;
    /* margin-top: 93px; */
}

.nybanner img.pc_banner {
    display   : block;
    width     : 100%;
    margin-top: 0;
}
.nybanner .banner_wen {
    position: absolute;
    margin: auto;
    top: 50%;
	right:37%;
	font-size: 38px;
    color: #FFF;
    font-weight: bold;
	transform: translateY(-50%);
}
.position{
	background-color:#f5f5f5;
	border-bottom:1px solid #dadada;

}
.position .position_wz{
	height:54px;
	line-height:54px;
}
.position .position_wz img{
	max-width:100%;
}
.position .position_wz span{
	font-size:14px;
	padding:0 12px;
}
.position .position_wz a{
	font-size:14px;
	color:#000;
}
.position .position_wz a:hover{
	text-decoration:underline;
}
.case{
	width:100%;
	padding:45px 0 100px 0;
}
.case ul.caselist li{
	float:left;
	width:49.104%;
	margin-right:1.792%;
	background-color:#f0f0f0;
	margin-bottom:24px;
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}
.case ul.caselist li:nth-child(2n){
	margin-right:0;
}
.case ul.caselist li .case_img{
	float:left;
	width:43.307%;
	overflow:hidden;
}
.case ul.caselist li .case_img img{
	display:block;
	width:100%;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.case ul.caselist li .case_con{
	float:left;
	width:56.693%;
	padding:23px 18px;
}
.case ul.caselist li .case_con span{
	display:block;
	font-size:18px;
	font-weight:bold;
	line-height:28px;
	margin-bottom:15px;
}
.case ul.caselist li .case_con p{
	font-size:16px;
	line-height:28px;
}
.case ul.caselist li:hover{
	background-color:#26938c;
	cursor:pointer;
	-webkit-animation: spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
}
.case ul.caselist li:hover .case_con{
	color:#fff;
}
.case ul.caselist li:hover .case_img img{
	-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.pager .pagination {
    margin: 0;
  }
  .pager .pager {
    margin: 0;
  }
  .pager li {
    margin: 0 0.4em;
    display: inline-block;
  }
  .pager li:first-child > a,
  .pager li:last-child > a,
  .pager li:first-child > span,
  .pager li:last-child > span {
    padding: .5em 1.2em;
  }
  .pager li > a,
  .pager li > span {
    background: none;
    border: 1px solid #e6e6e6;
    border-radius: 0.25em;
    padding: .5em .93em;
    font-size: 14px;
  }
  .pager > .pagination > .active > a,
  .pager > .pagination > .active > span,
  .pager > .pagination > .active > a:hover,
  .pager > .pagination > .active > span:hover,
  .pager > .pagination > .active > a:focus,
  .pager > .pagination > .active > span:focus {
    background-color: #26938c!important;
    border-color: #26938c!important;
  }
  @media screen and (max-width: 1200px) {

    .pc_banner{
        display:none;
    }
       .kejian{
        display:block;
        padding:0 15px;
        width:100%;
    }
    
    .position .position_wz {
        height: 35px;
        line-height: 35px;
    }
    .nybanner .banner_wen {
        right: auto;
        font-size: 22px;
    }
    .pc_link{
        display:none;
    }
    .m_link{
        display:inline;
    }
    .case ul.caselist li {
        float: left;
        width: 49%;
        margin-right: 2%;
        margin-bottom: 20px;
    }
    .case ul.caselist li .case_img {
        width: 100%;
    }
    .case ul.caselist li .case_con {
        width: 100%;
        padding: 10px 8px;
    }
    .case ul.caselist li .case_con span {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 15px;
    }
    .case ul.caselist li .case_con p {
        font-size: 14px;
        line-height: 20px;
    }
}