@media screen and (min-width: 1200px) {
  .container-fulid .container_images {
    position: relative;
  }
  .container-fulid .container_images img {
    padding: 0;
  }
  .container-fulid .container_images .banner_wen {
    position: absolute;
    margin: auto;
    top: 50%;
    right: 37%;
    font-size: 38px;
    color: #FFF;
    font-weight: bold;
    transform: translateY(-50%);
  }
  .home {
    color: #000;
    font-size: 14px;
    font-weight: bold;
  }
  .home a {
    color: #000;
  }
  .home .home_wz {
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 20px;
  }
  .home .home_wz span {
    padding-left: 10px;
    padding-right: 10px;
  }
  .home .home_wz .m_link {
    display: none;
  }
  .news {
    background-color: #fff;
    padding: 30px 0;
    border-top: 1px solid #dadada;
  }
  .news .container {
    width: 55%;
    margin: 0 auto;
  }
  .news .container .news_typetit {
    background-color: #f1f1f1;
    padding: 6px;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
  }
  .news .container .datetime {
    font-size: 16px;
    line-height: 28px;
    color: #8b8b8b;
    margin-top: 15px;
  }
  .news .container .news_tit {
    font-size: 26px;
    font-weight: bold;
    line-height: 35px;
    color: #272727;
    margin-top: 32px;
    margin-bottom: 27px;
  }
  .news .container .detail {
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 5px;
    display: block;
    max-width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .container-fulid .container_images {
    position: relative;
  }
  .container-fulid .container_images img {
    padding: 0;
  }
  .container-fulid .container_images .banner_wen {
    position: absolute;
    margin: auto;
    top: 50%;
    right: auto;
    font-size: 22px;
    color: #FFF;
    font-weight: bold;
    transform: translateY(-50%);
    margin-left: 20px;
  }
  .home {
    color: #000;
    font-size: 14px;
    font-weight: bold;
  }
  .home a {
    color: #000;
  }
  .home .home_wz {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .home .home_wz span {
    padding-right: 10px;
  }
  .home .home_wz .pc_link {
    display: none;
  }
  .news {
    background-color: #fff;
    padding: 30px 0;
    border-top: 1px solid #dadada;
  }
  .news .container {
    width: 100%;
    padding: 0 15px;
  }
  .news .container .news_typetit {
    background-color: #f1f1f1;
    padding: 6px;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
  }
  .news .container .datetime {
    font-size: 16px;
    line-height: 28px;
    color: #8b8b8b;
    margin-top: 15px;
  }
  .news .container .news_tit {
    font-size: 26px;
    font-weight: bold;
    line-height: 35px;
    color: #272727;
    margin-top: 32px;
    margin-bottom: 27px;
    font-size: 20px;
    line-height: 28px;
    margin-top: 10px;
  }
  .news .container .detail {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 5px;
    display: block;
    max-width: 100%;
    color: #000;
  }
}
